body {
    background-color: black;
}


#div {
    background-color: yellow;
    color: black;
    width: 300px;
    max-width: 90%;
}

#username {
    margin-left: 20%;
    border-radius: 10px;
    height: 20px;
    background-color: black;
    transition-duration: 0.5s;
    color: white;
    max-width: 90%;
    width: 170px;
}

#password {
    margin-left: 20%;
    border-radius: 10px;
    height: 20px;
    background-color: black;
    transition-duration: 0.5s;
    color: white;
    max-width: 90%;
    width: 170px;
}


#btn {
    margin-left: 28%;
    border-radius: 10px;
    margin-bottom: 60px;
    height: 35px;
    width: 100px;
    transition-duration: 1s;
    max-width: 90%;
}

#main {
    border: 1px solid black;
    max-width: 90%;
}

#a {
    color: black;
    margin-bottom: 10%;
    max-width: 90%;
}
#btn:hover {
    background-color: rgb(171, 157, 38);
}

#username:hover {
   background-color: white;
   color: black;
}


#password:hover {
    background-color: white;
    color: black;
    
 }

 @keyframes fade2 {
    from {opacity: 0}
    to {opacity: 360}
}
 
